* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.lado-esquerdo {
    display: inline-block;
    width: 40%;
    padding-top: 20px;
}

.lado-direito {
    display: inline-block;
    width: 60%;
    position: absolute;
    text-align: center;
}

/*LINKS*/
a {
    text-decoration: none;
    color: #17233D;
    font-size: 14px;
    font-weight: 500;
    margin-left: 40px;
}

img {
    width: 595px;
    height: 500px;
    margin: 96px 0 0 51px;
}

/*BOTAO DO LADO ESQUERDO*/
button {
    margin-left: 100px;
    background: #6FBF44;
    width: 124px;
    height: 31px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    opacity: .7;
}

button:active {
    opacity: 0.6;
}

/*BOTAO DO LADO DIREITO*/
.butto2 {
    font-size: 18px;
    color: #67c236;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 30px;
}

.butto2:hover {
    opacity: 0.7;
}

.butto2:active {
    opacity: .5;
}

p {
    color: #4B505A;
    margin: 0 100px 30px 200px;
    right: 50px;
}

h1 {
    font-size: 62px;
    font-weight: 700;
    color: #161A49;
    margin: 280px 100px 20px 200px;
}

/*FORMATAÇAO PARA DINAMICO*/
@media screen and (max-width: 900px) {
    .lado-esquerdo {
        display: block;
        width: 100%;
        height: auto;
        padding-top: 20px;
    }

    .lado-direito {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        align-items: center;
        /* centraliza horizontalmente */
    }

    a {
        display: none;
        /* esconde os links no mobile */
    }

    button {
        margin: 0px 0px 0px auto;
        /* centraliza o botão */
        display: block;
    }

    img {
        width: 300px;
        height: 300px;
        display: block;
        margin: 50px auto;
    }
    h1{
        font-size: 62px;
    font-weight: 800;
    color: #161A49;
    width: 100%;
    margin: 0 auto;
    line-height: 60px;
    }
    p{
        margin: 20px 30px 20px 30px; 
        width: auto;
        height: auto;
    }
  
}